<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee System</title>
</head>
<body>
    <h1>Employeee System</h1>
      <button id="signup"><b><a id="change_text" href="register">Sign Up</a></b></button>
      <button id="signup"><b><a id="change_text" href="login">Log In</a></b></button>
</body>
</html>